*.iml
.gradle
.idea
.kotlin
/local.properties
.DS_Store
/build
/captures
*configs.xml
.externalNativeBuild
.cxx
local.properties
*google-services.json

build-logic/convention/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/counters.tab

build-logic/convention/build/kotlin/compileKotlin/cacheable/last-build.bin

build-logic/convention/build/kotlin/compileKotlin/local-state/build-history.bin

build-logic/convention/build/libs/convention.jar

build-logic/convention/build/pluginDescriptors/rulsoft.android.application.compose.properties

build-logic/convention/build/pluginDescriptors/rulsoft.android.application.properties

build-logic/convention/build/pluginDescriptors/rulsoft.android.library.compose.properties

build-logic/convention/build/pluginDescriptors/rulsoft.android.library.properties

build-logic/convention/build/pluginDescriptors/rulsoft.android.room.properties

build-logic/convention/build/pluginDescriptors/rulsoft.di.library.compose.properties

build-logic/convention/build/pluginDescriptors/rulsoft.di.library.properties

build-logic/convention/build/pluginDescriptors/rulsoft.jvm.firebase.properties

build-logic/convention/build/pluginDescriptors/rulsoft.jvm.ktor.properties

build-logic/convention/build/pluginDescriptors/rulsoft.jvm.library.properties

build-logic/convention/build/resources/main/META-INF/gradle-plugins/rulsoft.android.application.compose.properties

build-logic/convention/build/resources/main/META-INF/gradle-plugins/rulsoft.android.application.properties

build-logic/convention/build/resources/main/META-INF/gradle-plugins/rulsoft.android.library.compose.properties

build-logic/convention/build/resources/main/META-INF/gradle-plugins/rulsoft.android.library.properties

build-logic/convention/build/resources/main/META-INF/gradle-plugins/rulsoft.android.room.properties

build-logic/convention/build/resources/main/META-INF/gradle-plugins/rulsoft.di.library.compose.properties

build-logic/convention/build/resources/main/META-INF/gradle-plugins/rulsoft.di.library.properties

build-logic/convention/build/resources/main/META-INF/gradle-plugins/rulsoft.jvm.firebase.properties

build-logic/convention/build/resources/main/META-INF/gradle-plugins/rulsoft.jvm.ktor.properties

build-logic/convention/build/resources/main/META-INF/gradle-plugins/rulsoft.jvm.library.properties
